{{'title' | translate}}

<button (click)="getAssociations()" mat-raised-button>
    {{'associations.buttons.all' | translate}}
</button>

<button (click)="getColors()" mat-raised-button>
  {{'colors.buttons.all' | translate}}
</button>

<button (click)="getSizes()" mat-raised-button>
  {{'sizes.buttons.all' | translate}}
</button>

<button (click)="getFamilies()" mat-raised-button>
  {{'families.buttons.all' | translate}}
</button>

<div class="table-container">
    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{'associations.name' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let association">
                {{association.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mail">
            <mat-header-cell *matHeaderCellDef>{{'associations.mail' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let association">
                {{association.mail}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="president">
            <mat-header-cell *matHeaderCellDef>{{'associations.president' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let association">
                {{association.president.name}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsDefinition; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsDefinition"></mat-row>
    </mat-table>
</div>

<div class="table-container">
  <mat-table [dataSource]="dataSourceColor">
    <ng-container matColumnDef="libelle">
      <mat-header-cell *matHeaderCellDef>{{'colors.libelle' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let color">
        {{color.libelle}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="codeHexa">
      <mat-header-cell *matHeaderCellDef>{{'colors.codeHexa' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let color">
        {{color.codeHexa}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsDefinitionColor; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDefinitionColor"></mat-row>
  </mat-table>
</div>

<div class="table-container">
  <mat-table [dataSource]="dataSourceSize">
    <ng-container matColumnDef="libelle">
      <mat-header-cell *matHeaderCellDef>{{'size.libelle' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let size">
        {{size.libelle}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsDefinitionSize; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDefinitionSize"></mat-row>
  </mat-table>
</div>

<div class="table-container">
  <mat-table [dataSource]="dataSourceFamily">
    <ng-container matColumnDef="libelle">
      <mat-header-cell *matHeaderCellDef>{{'family.libelle' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let family">
        {{family.libelle}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsDefinitionFamily; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDefinitionFamily"></mat-row>
  </mat-table>
</div>


