<div class="login-box" fxLayoutAlign="center" layout="row">
    <div layout="column">
        <div layout="column">
            <div layout="row">
                <img class="logo" src="../../../assets/img/logo.png">
            </div>
        </div>
        <div flex>
            <form (ngSubmit)="socialSignIn('google')" novalidate>
                <div fxLayout="column" fxLayoutAlign="center">
                    <div flex class="container-connect">
                        <button class="connection" type="submit" mat-raised-button>
                            {{'login.connection' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

