@my-purple: rgb(116, 80, 158);
@my-dark-blue: rgb(31, 107, 178);
@my-blue: rgb(32, 144, 199);

.header {
  background-color: @my-purple;

  .logo {
    width: 45px;
    height: 50px;
  }

  .title {
    color: white;
    font-size: 20px;
    padding-left: 2%;
  }
}

.connection {
  background-color: @my-purple;
  color: white;
  text-transform: uppercase;
}

.contact {
  color: @my-purple;
  margin-top: 10%;
  .contact-button {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
}

.mat-icon {
  margin-right: 15px;
}
